{
  "extends": "airbnb-base",
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "no-underscore-dangle" : ["error", { "allow": ["_id","._id"] }],
        "no-console" : "off",
        "linebreak-style": ["error", "unix"]
      }
    }
  ]
}

